@media (max-width: 1199px) {
	#scr7 #scr7_2 .list_tab li a {
    	padding: 10px 29px;
	}
	#scr7 #scr7_2 #tabs img {
    	height: 210px;
	}
	#scr7 #scr7_2 #tabs .obert {
    	height: 290px;
	}
}
@media (max-width: 991px) {
	#men {
		padding-left: 0;
		padding-right: 0;
	}
	#menu #_menu ul li a {
    	margin: 15px 6px;
	}
	#scr1 .row1 h1 {
		font-size: 1.1em;
		margin-top: 30px;
	}
	#scr1 .row1 img {
		width: 100%;
	}
	#scr1 .row1 p {
		font-size: 1.3em;
	}
	button[data-toggle="modal"], button[type="submit"] {
		width: 100%;
		font-size: 13px;
	}
	#scr1 .q .row2 h1 {
    	font-size: 2.4em;
	}
	#scr1 .q .row2 ul li {
    	font-size: 1.2em;
	}
	#scr2 .round p {
    	font-size: 10px;
	}
	#scr2 .round {
		height: 110px;
		width: 110px;
	}
	#scr2 .one, #scr2 .two {
		padding-top: 30px;
	}
	#scr3 img {
    	width: 100%;
	}
	#scr3 .part2 p {
		font-size: 15px;
	}
	#scr4 p {
    	font-size: 13px;
		margin-left: 5px;
	}
	.abz {
		width: 89%;
	}
	#scr4 span {
		font-size: 40px;
	}
	#scr7 #scr7_2 .list_tab li a {
		padding: 10px 11px;
	}
	#scr7 #scr7_2 #tabs img {
		height: 160px;
	}
	#scr7 #scr7_2 #tabs .obert {
		height: 240px;
	}
	button[data-toggle="modal"], button[type="submit"] {
		width: 70%;
	}
	#scr8 {
		img {
			width: 100%;
		}
	}
	#scr9 p.podpis {
		font-size: 14px;
	}
	.bx-wrapper {
		width: 600px !important;
	}
	#scr12 {
		img {
			width: 100%;
		}
	}
	#footer {
		img {
			width: 100%;
		}
		button {
			width: 100%;
		}
	}
	#footer p {
    	font-size: 1.3em;
	}
	.row1 {
		button {
			width: 100%;
		}
	}
}
@media (max-width: 768px) {

}
@media (max-width: 415px) {
	.bx-wrapper {
		width: 200px !important;
	}
	#scr1 {
    	margin-top: 0;
	}
	#menu #_menu ul li {
		display: block;	
	}
	.navbar-nav {
		margin: 7.5px 0px !important;
	}
	#scr1 .row1 p {
    	text-align: center;
	}
	#scr1 .q .row2 h1 {
		font-size: 2em;
	}
	#scr1 .q {
		padding-top: 50px;
	}
	#scr1 {
    	padding-bottom: 50px;
	}
	#scr2 {
		padding-top: 0px;
		padding-bottom: 30px;
	}
	#scr2 .round {
    	margin-top: 20px;
	}
	#scr3 p {
		font-size: 20px;
	}
	#scr3 {
    	padding-top: 0px;
	}
	#scr4 {
		padding-top: 10px;
		padding-bottom: 20px;
	}
	#scr5.form_block h1, #scr11.form_block h1 {
		margin-top: 30px;
	}
	#scr5.form_block form, #scr11.form_block form {
		padding-top: 30px;
	}
	#scr6 .ybirLeftRight {
    	padding-left: 15px;
    	padding-right: 15px;
	}
	#scr6 .ybirRight {
		padding-right: 15px;
	}
	#scr6 .ybirLeft {
		padding-left: 15px;
	}
	#scr8 h1 {
    	font-size: 28px;
	}
	#scr9 .rot {
		margin-bottom: 60px;
	}
	#scr9 button {
		margin-top: 60px;
		width: 250px;
	}
	#scr12 img {
		width: 40%;
	}
	#scr12 {
		padding-bottom: 10px;
	}
	#footer p {
		text-align: center;
	}
	.ybirLeftRight p {
		margin-top: 200px;
	}
	.ybirLeftRight .line {
		margin-top: -150px !important;
	}
	.ybirLeftRight img {
		margin-top: -410px;
	}
	.ybirLeft img {
		margin-top: 70px;
	}
	#menu ul.nav {
		background-color: #fff;
	}
}
@media (max-width: 413px) {
	
}
@media (max-width: 376px) {

}
@media (max-width: 360px) {
	
}
@media (max-width: 321px) {
	
}
@media (max-width: 319px) {

}




















































